<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On
RewriteBase /beamon.se/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}/index.html !-f
RewriteCond %{REQUEST_FILENAME}/index.php !-f
RewriteRule . index.php [L]
</IfModule>
Order Deny,Allow
Allow from all
Allow from 127.0.0.1
Allow from ::1